/*--------------------------------------------------------------------------------------------------------------
STYLE GENERAL DE LA PAGE
--------------------------------------------------------------------------------------------------------------*/
*{
  margin: 0; /* Supression des styles automatiques du navigateur */
  padding: 0; /* marges interieures et exterieures initialisées a 0 */
  --black: #3d3d3d; /* Declaration des couleurs globales du document */
  --white: #fcfcfc; /* permet de les rappeller plus facilement */
  --grey: #6e6e6e;
  --lightgrey: #eaeaea;
  --blue: #5cadd3;
  --darkblue: #468cad;
  max-width: 100vw; /* empeche tous les elements de depasser de la largeur de l'ecran */
  box-sizing: border-box; /*Inclus les marges et les bordures dans le calcul des dimensions */
}
body{
  font-family: 'Roboto', sans-serif; /* Definit 'Roboto' comme police generale du document */
  overflow-x: hidden; /* Masque la barre de scroll horizontal */
}

/*--------------------------------------------------------------------------------------------------------------
STYLE DE LA PARTIE EN TETE DU SITE
--------------------------------------------------------------------------------------------------------------*/
#Topbar{
  width: 100vw; /* la largeur de la topbar prend tout l'espace disponible */
  background-color: var(--white); /* donne une couleur de fond au header */
  padding-top: 1%;
  display: flex; /* donne la propriété "Flex" au container "topbar" contenant le header*/
  flex-direction: column; /* fixe l'axe principal de la topbar sur l'axe vertical */
  align-items: center; /*aligne les objets de la topbar sur son axe secondaire (horizontal)*/
  max-height: 75px; /* empeche la topbar de prendre plus de 5% de la hauteur totale */
  position: fixed; /* fixe le header en haut de la page */
  top: 0; /* haut de la topbar positionné a 0 par rapport au haut du document*/
  left: 0; /* gauche de la topbar positionnée a 0 par rapport a la gauche du document*/
  right: 0; /* droite de la topbar positionnée a 0 par rapport a la droite du document */
  z-index: 10; /* Place le header au dessus de tout les autres elements */
}
#Logo img{
  margin-top: 3%; /* defini l'espace entre l'image du logo et le haut de la page */
  max-height: 35px; /* empeche l'image du logo de prendre plus de 5% de la hauteur visible */
}
#Menu{
  display: inline-flex; /* fixe la propriété flex sur inline pour placer les elements du menu */
  justify-content: center; /* aligne les objets sur l'axe principal (horizontal) */
  align-items: baseline; /* aligne les objets sur l'axe secondaire */
  border-top: solid 2px var(--blue); /* Donne une bordure decorative au dessus du menu */
}
.menuItems{
  padding-top: 1%; /* defini la marge interieure superieure */
  margin: 1% 2%; /* defini les marges exterieures */
  color: var(--grey); /* defini la couleur du texte */
  text-decoration: none; /* retire la decoration par defaut par defaut appliquée aux liens par le browser */
  font-size: 1em; /* donne une taille relative a la police d'ecriture */
  line-height: 1.2em; /* defini la hauteur de ligne */
}
a:hover.menuItems{
  color: var(--blue); /* modifie la couleur du lien du menu lors du survol avec la souris */
  font-family: 'Roboto-Black'; /* modifie la police utilisée lors du survol */
  -webkit-transition-property: all; /* Compatibilité avec les navigateurs */
  transition-property: all; /* Defini les elements sur lesquels la transition s'applique */
  -webkit-transition-duration: 0.3s; /* Compatibilité avec les navigateurs  */
  transition-duration: 0.3s; /* Defini la durée de la transition */
}

/*--------------------------------------------------------------------------------------------------------------
STYLE GENERAL DES SECTIONS
--------------------------------------------------------------------------------------------------------------*/
#Content{
  background-color: var(--white);  /* Fond du contenu de la page */
  margin-top: 80px; /* Donne une marge de 80px en haut pour separer du header */
  min-width: 300px; /* Empeche le contenu de la page de descendre sous les 300px */
}
.anchor{
  position: relative; /* Decale les ancres de la page */
  top: -80px; /* de 75px vers le bas */
}
#LineBreaker{
  display: flex; /* Donne la propriété flex au conteneur du separateur */
  flex-wrap: nowrap; /* Empeche le retour a la ligne */
  justify-content: center; /* Aligne les objets sur l'axe principal*/
  align-items: center; /* Aligne les objets sur l'axe secondaire */
}
.sections{
  width: 100vw; /* force les sections a occuper 100% de la largeur de la vue */
  margin-top: 2.5%; /* donne une marge exterieure de 2.5% en haut des sections */
}
.sectionAside{
  width: 100vw; /* Oblige le titre des sections a prendre toute la largeur de l'ecran */
  text-align: center; /* Centre les elements textuels dans l'en tete des sections */
  text-transform: uppercase; /* Met le titre en majuscule */
  color: var(--black); /* Defini la couleur du texte des sections */
}
#LineBreaker hr{
  width: 20vw; /* Oblige les separateurs a prendre 20% de l'espace disponible*/
  height: 2px; /* Oblige les separateurs a prendre 1px de hauteur */
  background-color: var(--black); /* Defini la couleur de fond des separateur */
  margin: auto; /* Centre les separateurs par rapport a leur conteneur */
}
.dotBreaker{
  background-color: var(--blue); /* Defini la couleur de fond du cercle du titre des sections */
  width: 35px; /* Oblige le cercle a prendre 7% de la largeur disponible */
  height: 35px;/* Oblige le cercle a prendre 7% de la hauteur disponible */
  margin: auto; /* Centre le cercle par rapport a son conteneur */
  border: 7px solid var(--white); /* Donne une bordure blanche au cercle */
  border-radius: 50%; /* Donne un arrondi aux bordures du cercle */
}
.sections aside .undertext{
  font-family: 'Roboto-Medium'; /* Defini la police de la description des sections */
  margin: 0 auto; /* Centre verticalement la description des sections */
  padding: 0.5% 1%; /* Marge interieure definie a 0.5% et 1% */
}
.sectionTitle{
  text-align: center; /* Centre le titre des sections */
  font-family: 'Roboto-Black'; /* Defini la police du titre des sections */
  color: var(--blue); /* Defini la couleur de la police */
  background-color: var(--white); /* Defini la couleur d'arriere plan */
  font-size: 2em; /* Defini la taille de la police a 2x celle par defaut du navigateur */
  white-space: nowrap; /* Empeche le retour a la ligne apres un espace entre deux mots */
}
/*--------------------------------------------------------------------------------------------------------------
STYLE DU SLIDER
--------------------------------------------------------------------------------------------------------------*/
#Slider{
  font-family: 'Roboto'; /* Defini la police de base du slider */
  color: var(--black); /* Defini la couleur de base du texte du slider */
}
.slides{
  position: relative; /* Donne a la slide une position relative pour placer l'aside en absolute */
  min-height: 200px; /* Donne une hauteur minimale aux slides */
  background-size: cover; /* Defini le dimensionnement de l'image de fond */
  background-repeat: no-repeat; /* Defini la repetition de l'image de fond */
  background-position: center; /* Defini la position de l'image de fond */
}
#Slide1{
  background-image: url(../IMG/slider/bg1.jpg); /* Emplacement de l'image de fond */
}
#Slide2{
  background-image: url(../IMG/slider/bg2.jpg); /* Emplacement de l'image de fond */
  transform:scaleX(-1); /* Rotation de la slide en miroir sur l'axe vertical pour inverser l'image*/
}
#Slide2 aside{
  transform:scaleX(-1); /* Rotation de l'aside en miroir sur l'axe vertical pour replacer le texte */
}
.slides aside{
  position: absolute; /* aside en position absolute par rapport a l'element parent */
  height: 100%; /* force l'aside a prendre 100% de la hauteur disponible du parent */
  background-color: rgba(66,66,66,.75); /* Applique une couleur d'arriere plan avec effet de transparence */
  border-radius: 1px; /* Donne un arondi a la bordure de l'element */
  color: var(--white); /* Defini la couleur du texte sur blanc */
  max-width: 66%; /* force l'aside a prendre 60% de la largeur disponible du parent */
}
.slides #Slide1 aside{
  float:left; /* force l'aside a flotter du coté gauche de la slide */
}
.slides #Slide1 aside{
  float:right; /* force l'aside a flotter du coté droit de la slide */
}
.presentation{
  height: 90%; /* force la presentation a prendre 90% de la hauteur de l'aside */
  display: flex; /* fixe la proprieté flex pour que les elements se placent dynamiquement */
  flex-wrap: wrap; /* force le retour a la ligne si les elements n'ont plus de place */
  justify-content: center; /* Aligne les objets sur l'axe principal*/
  align-items: center; /* Aligne les objets sur l'axe secondaire*/
  margin: 5% 2%; /* marges exterieures fixées a 5% en haut et en bas, et a 2% sur les cotés */
  text-shadow: .25em .25em .25em var(--black); /* Donne une ombre au texte pour ameliorer la lisibilité */
}
.accroche{
  font-family: 'Roboto-Italic'; /* Titre de la slide en italique */
  text-transform: uppercase; /* Titre de la slide en majuscules */
}
.accroche strong{
  font-size: 1.5em; /* Fixe la taille de la police*/
  color: var(--blue); /* Couleur du nom de l'agence en bleu */
  font-family: 'Roboto-Bold'; /* police du nom de l'agence */
}
.sidetext{
  font-family: 'Roboto-Medium'; /* Police du texte de presentation */
}
.asideButton a{
  font-family: 'Roboto'; /* Police du bouton de la slide */
  text-decoration: none; /* Retire la decoration par defaut des liens */
  color: var(--white); /* couleur du texte en blanc */
  background-color: var(--blue); /* couleur de fond en bleu */
  border-radius: 5%; /* donne un arrondi aux coins du bouton */
  padding: .25em .5em; /* Marge interieure fixée a 25% et 50% de la police de l'element */
}
.asideButton{
  align-self: flex-end; /* place le bouton a la fin de l'espace disponible */
  margin-bottom: 6%; /* marge exterieure du bas fixée a 6% */
  text-shadow: 0.25em 0.25em 0.25em var(--darkblue); /* Donne une ombre au texte pour ameliorer la lisibilité */
}
.arrow{
  display: none; /* Les fleches du slider ne sont pas affichée sur mobile */
}

/*--------------------------------------------------------------------------------------------------------------
STYLE DE LA SECTION SERVICES
--------------------------------------------------------------------------------------------------------------*/
.services{
  font-family: 'Roboto'; /* police de la section */
  color: var(--black); /* couleur du texte de la section */
}
.serviceDot{
  display: none; /* les icones sont masquées sur mobile */
}
#ListeServices li{
  background-image: url(../IMG/main-feature.png); /* emplacement de l'image d'arriere plan */
  background-size: cover; /* Defini le dimensionnement de l'image de fond */
  background-repeat: no-repeat; /* Defini la repetition de l'image de fond */
  background-position: center; /* Defini la position de l'image de fond */
  display: flex; /* donne la propriété flex aux elements de la liste */
  flex-wrap: wrap; /* force les elements a aller a la ligne s'ils manquent d'espace*/
}
#ListeServices li:nth-child(2){
  justify-content: flex-end; /* Decale le second element de la liste sur la version mobile uniquement */
}
.serviceWrapper{
  width: 66%; /* force la presentation des services a prendre 2/3 de la largeur de l'element parent */
  background-color: rgba(92, 173, 211, .75); /* fixe la couleur d'arriere plan bleu transparent */
  padding: 2%; /* fixe la marge interieure de l'element */
  color: var(--white); /* couleur de la police */
  text-shadow: 0.25em 0.25em 0.25em var(--darkblue); /* ajoute une ombre au texte pour ameliorer la lisibilité */
}
.serviceWrapper h2{
  font-size: 1.5em; /* Fixe la taille de la police*/
  text-transform: uppercase; /* Titre en majuscules */
  text-align: center; /* centre le texte */
  text-decoration: underline; /* Souligne le titre */
  font-family: 'Roboto-Bold'; /* police du titre */
}
.serviceWrapper p{
  font-size: 1em; /* Fixe la taille de la police */
  text-align: left; /* aligne le texte a gauche */
  font-family: 'Roboto-Medium'; /* police du texte */
}
#Feature{
  display: none; /* masque l'image sur la version mobile */
}

/*--------------------------------------------------------------------------------------------------------------
STYLE DE LA SECTION PORTFOLIO
--------------------------------------------------------------------------------------------------------------*/
.wrapperPortfolio{
  display: flex; /* donne la propriété flex aux elements de la liste */
  flex-wrap: wrap; /* force les elements a aller a la ligne s'ils manquent d'espace*/
  justify-content: center; /* Aligne les objets sur l'axe principal*/
  align-items: center; /* Aligne les objets sur l'axe secondaire*/
}
#MenuPortfolio ul{
  display: flex; /* donne la propriété flex aux elements de la liste */
  flex-wrap: wrap; /* force les elements a aller a la ligne s'ils manquent d'espace*/
  justify-content: space-around; /* Espace les elements */
  background-color: rgba(92, 173, 211, .9); /* Donne une couleur bleue a l'arriere plan du menu portfolio */
  border-radius: 2.5%; /* Donne un arrondi aux coins de l'element */
}
.menuPortfolio{
  display: block; /* force les elements du menu portfolio a se comporter en tant que blocks */
  border-radius: 5%; /* Donne un arrondi aux coins de l'element */
  padding: 1% 2%; /* marge interieure definie a 1% en haut/bas et 2% sur les côtés */
  flex-basis: 45%; /* force les elements a prendre 45% de l'espace disponible */
}
.menuPortfolio a{
  font-family: 'Roboto-Medium'; /* Defini la police utilisée pour les liens du menu portfolio */
  text-decoration: none; /* Retire le souligné */
  text-transform: uppercase; /* Met les liens en majuscule */
  white-space: nowrap; /* Empêche le retour a la ligne */
  color: var(--white); /* ecrit les liens en blanc */
}
.menuPortfolio:hover a, .menuPortfolio a.selected{
  color: var(--grey);
}
.containerPortfolio{
  display: flex; /* donne la propriété flex aux elements du portfolio */
  flex-direction: column; /* organise les elements en colonne */
  justify-content: space-around; /* espace les elements */
  align-items: center; /* Aligne les elements sur l'axe secondaire */
}
#r1, #r2, #r3, #r4{
  display: none; /* masque les boutons radio du menu portfolio */
}
.itemsPortfolio{
  margin-top: 1%; /* defini la marge superieure */
  position: relative; /* donne une position relative aux objets du portfolio afin de placer le masque plus facilement */
}
.itemsLabelMask{
  opacity: 0; /* Masque invisible par defaut */
  background-color: rgba(0,0,0, .5); /* applique une couleur de fond avec effet de transparence */
  padding: 1% 2%; /* defini les marges interieures */
  position: absolute; /* en position absolute par rapport au parent */
  bottom: 1.5%; /* deplace le bas de l'element */
  width: 100%; /* force le masque a prendre 100% de la largeur de l'element parent */
  height: 100%; /* force le masque a prendre 100% de la hauteur de l'element parent */
  text-transform: capitalize; /* met la premiere lettre de chaque mot en MAJ */
  display: flex; /* donne au masque la proprieté flex */
  align-items: flex-end; /* aligne les elements a la fin de l'axe secondaire */
}
.itemsLabelMask:active, .itemsLabelMask.selected{
  opacity: 1; /* affiche le masque lors du survol de la souris */
}
.itemsLabel{
  color: var(--white); /* defini la couleur de la police */
  text-shadow: 0.25em 0.25em 0.25em var(--black); /* ajoute une ombre au texte pour ameliorer la lisibilité */
  font-family: 'Roboto-Medium'; /* defini la police utilisée */
  margin-left: 2.5%; /* defini la marge interieure gauche */
  margin-bottom: 2.5%; /* defini la marge interieure du bas */
}
.itemsLabel h3{
  font-size: 1em; /* defini la taille de la police */
}
.itemsLabel p{
  font-size: 0.8em; /* defini la taille de la police */
}
.fa-eye{
  background-color: var(--blue); /* defini la couleur d'arriere plan' */
  border: 0.1rem solid var(--white); /* defini la bordure de l'item */
  border-radius: 50%; /* border radius a 50% pour former un cercle */
  color: var(--white); /* defini la couleur de la police */
  padding: 0.25rem; /* defini une marge interieure */
  font-size: 2rem; /* defini la taille de la police */
  position: absolute; /* objet en position absolute pour le deplacer par rapport a l'element parent */
  top: 10.5%; /* haut deplacé par rapport a l'element parent */
  right: 5.5%; /* deplacé par rapport a l'element parent */
}

/*--------------------------------------------------------------------------------------------------------------
STYLE DE LA SECTION CONTACT
--------------------------------------------------------------------------------------------------------------*/
#Contact{
  display: flex; /* donne la propriété flex a l'element */
  flex-direction: column; /* aligne le contenu selon l'axe vertical */
  justify-content: center; /* organise les elements sur l'axe principal */
  align-items: center; /* organise les elements sur l'axe secondaire */
}
.mapMask{
  order: 1; /* place la carte a la fin */
}
#Map iframe{
  width: 100vw; /* defini la largeur de l'element a 100% de la largeur de la vue */
}
#Contact fieldset{
  width: 100vw; /* defini la largeur de l'element a 100% de la largeur de la vue */
  order: 0; /* place le formulaire de contact au debut */
  border: none; /* supprime les bordures par defaut */
  text-align: center; /* aligne le texte au centre */
  color: var(--black); /* defini la couleur de la police */
}
#ContactInfos p{
  font-family: 'Roboto-Medium'; /* defini la police de l'element */
  font-size: 1.2em; /* defini la taille de la police */
}

form{
background-color: var(--blue); /* defini la couleur d'arriere plan */
padding: .25em; /* donne une marge interieure a l'element */
}
form p input, form p textarea{
  width: 90vw; /* force les elements a prendre 90% de la largeur de la vue */
  margin: 0.25em auto; /* defini la marge exterieure a l'element */
  border: none; /* supprime les bordures par defaut */
  height: 1.75em; /* defini la taille de l'element */
  font-family: 'Roboto-Italic'; /* defini la police de l'element */
  padding: .25em; /* donne une marge interieure a l'element */
  font-size: 1.25em; /* defini la taille de la police */
}
form p textarea{
  height: 5em; /* defini la taille de l'element */
}
.button input{
  width: 50vw; /* force l'element a prendre 50% de la largeur de la vue */
  color:var(--blue); /* defini la couleur de la police */
  background-color: var(--white); /* defini la couleur d'arriere plan */
  font-family: 'Roboto-Bold'; /* defini la police de l'element */
  font-size: 1.25em; /* defini la taille de la police */
  font-variant: small-caps; /* met le texte en petites majuscules */
}

/*--------------------------------------------------------------------------------------------------------------
STYLE POUR ECRANS MOYENS
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 480px) and (max-width: 1024px){

/* Style general */
.anchor{
  top: -60px;
}
#Content{
  margin-top: 70px;
}
p.undertext{
  max-width: 75%;
}

/* Style du header */
#Topbar{
  flex-direction: row;
  justify-content: space-around;
}
#Menu{
  border: none;
}

/*Style du Slider*/
.slides{
  min-height: 225px;
}
.slides aside{
  max-width: 55%;
}
.presentation{
  margin: 5%;
  justify-content: flex-start;
}
.asideButton{
  align-self: flex-start;
}

/*Style des Services*/
.serviceWrapper{
  width: 55%;
  min-height: 150px;
}
.menuPortfolio{
  margin: 1% 2.5%;
}
#BoxedPortfolio{
  margin-top: 1%;
}
.containerPortfolio{
  flex-direction: row;
  flex-wrap: wrap;
}
.itemsPortfolio{
  width: 45%;
  margin: 2.5%;
}
.itemsPortfolio img{
  max-width: 100%;
}
/*Style du Portfolio*/
#MenuPortfolio ul{
  width: 90%;
  margin: 0 auto;
}
/*----------------------------------------------------------
FERMETURE DU MEDIA QUERIES POUR ECRANS MOYENS
-----------------------------------------------------------*/
}

/*--------------------------------------------------------------------------------------------------------------
STYLE POUR ECRANS LARGES
--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {

/*Style general*/
*{
  padding: 0;
  margin: 0;
  border: none;
}
#Content{
  margin-top: 100px;
}
.sections{
  min-height: 240px;
}
.sectionTitle{
  color: var(--black);
  font-size: 2.5rem;
}
#LineBreaker hr{
  width: 4.5%;
  height: 1px;
  background-color: var(--lightgrey);
  margin: 0;
}
.dotBreaker{
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0.25em solid var(--white);
}
.sections aside .undertext{
  font-family: 'Roboto';
  font-size: 1em;
  padding: 1%;
  text-transform: initial;
}
.anchor{
  top: -100px;
}
/* Style du header */
#Topbar{
  position: fixed; /* L'attribut 'fixed' maintiens la barre de menu a la position fixée lors du scroll*/
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white); /*appelle la variable de couleur blanche*/
  font-family: 'Roboto-Bold', sans-serif;
  max-height: 100px;
  max-width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 1%;
}
#Logo{
  margin-left: 7vw;
}
#Logo img{
  margin: 0;
  max-height: none;
}
#Menu{
  border-top: none;
  margin-right: 7vw;
}
.menuItems{
  font-family: 'Roboto-Medium';
  color: var(--grey);
  padding: 0 15px;
  margin: 0;
  font-size: 0.9rem;
  line-height: 100px;
  padding-top: 9px;
}
a:hover.menuItems{
  border-top: 9px solid var(--blue);
  color: var(--black);
  padding: 0 15px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/*Style du Slider*/
.slideshow{
  height: 80%;
}
.slides{
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 570px;
}
.arrow{
  display: inline-block;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  color: var(--white);
  font-weight: lighter;
  line-height: 35px;
  font-size: 35px;
  max-height: 75px;
  padding: 2.5px 7.5px;
  border-radius: 50%;
}
.arrow:hover{
  background-color: rgba(255,255,255,.5);
  color: var(--black);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}
#ArrowLeft{
  text-align: right;
  left: -17px;
}
#ArrowRight{
  text-align: left;
  right: -3px;
}
.arrow svg{
  margin: 10px;
}
.slides aside{
  background-color: transparent;
  max-width: 45%;
  margin: 4% 0% 0% 7%;
  position: absolute;
}
.presentation{
  font-family: 'Roboto-Medium';
  font-size: 0.9rem;
  color: var(--white);
  text-shadow: none;
  justify-content: flex-start;
}
.asideTitle h1{
  display: inline;
  font-size: 2.25rem;
  font-family: 'Roboto-Black';
}
.accroche strong{
  font-size: 2.25rem;
  font-family: 'Roboto-Black';
}
.sidetext{
  margin: 2% 0;
}
.asideButton{
  align-self: baseline;
  position: relative;
  top: -60px;
}
.slideshow a{
  border-radius: 4.5%;
  font-family: 'Roboto-Black';
  font-size: 1.2rem;
  text-shadow: none;
  padding: 7.5% 12%;
  white-space: nowrap;
  border-bottom: 0.2em solid #538ca9;
}
.slideshow a:hover{
  background-color: var(--white);
  color: var(--blue);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#Slide2{
  position: absolute;
  left: -200%;
}
.statusBar{
  width: 100%;
  background-color: var(--lightgrey);
  position: relative;
  top: -7px;
}
.bar{
  background-color: var(--blue);
  width: 10%;
  height: 3px;
}

/*Style des Services*/
#Services aside{
  width: 100vw;
}
#ServicesContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7.5%;
}
#Feature{
  display: block;
  width: 510px;
  height: 320px;
  max-width: 60vw;
  margin: 0 5%;
}
#ListeServices{
  margin-right: 7%;
}
#ListeServices li, #ListeServices li:nth-child(2){
  background: none;
  justify-content: center;
}
.serviceWrapper{
  margin-top: 10%;
  margin-bottom: -7.5%;
  background-color: transparent;
  color: var(--black);
  text-shadow: none;
}
.serviceWrapper h2{
  font-size: 1.2em;
  text-transform: initial;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Black';
}
.serviceWrapper p {
  line-height: 1em;
  font-size: 1em;
  text-align: left;
  font-family: 'Roboto-Light';
  margin: 2% 0;
}
#ListeServices li, #ListeServices li:nth-child(2){
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.serviceDot{
  color: var(--blue);
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 35px;
  position: relative;
  top: 45px;
}
.fa-chart-line, .fa-cubes, .fa-chart-pie{
    border: 0.1em solid var(--lightgrey);
    border-radius: 50%;
    min-height: 65px;
    min-width: 65px;
    padding: 15px;
}
.dot{
    position: relative;
    left: -7px;
    max-width: 0.75em;
}

/*Style du Portfolio*/
#Portfolio, #Portfolio .sectionTitle{
  background-color: #f5f5f5;
}
#MenuPortfolio ul{
  background-color: var(--lightgrey);
  flex-wrap: nowrap;
  width: 30%;
  margin: 0 auto;
  border-radius: 7px;
}
.menuPortfolio:hover a, .menuPortfolio.selected a{
  color: var(--white);
}
.menuPortfolio{
  padding: 10px 0;
  padding-bottom: 10px;
  flex-basis: 25%;
}
.menuPortfolio:hover, .menuPortfolio.selected{
  border-bottom: 5px solid var(--darkblue);
  padding-bottom: 0;
  background-color: var(--blue);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.menuPortfolio:hover:after, .menuPortfolio.selected:after{
  display: block;
  position: relative;
  top: 15px;
  font-style: normal;
  font-variant: normal;
  font-size: 15px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Font-Awesome';
  font-weight: 900;
  color: var(--darkblue);
  content: '\f0d7';
  background-color: transparent;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.menuPortfolio a{
  color: var(--grey);
  font-size: 1em;
  text-transform: capitalize;
}
.containerPortfolio{
  margin: 0 3.75%;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.itemsPortfolio{
  max-height: 30vh;
  margin: 1.5%
}
.itemsPortfolio img{
  max-width: 20vw;
}
.itemsLabel{
  background-color: rgba(0,0,0, .5);
  min-width: 100%;
  min-height: 30%;
  margin: 0;
  padding: 1% 2%;
}
.fa-eye{
  top: 60%;
  min-width: 35px;
  height: 35px;
  padding: 9px;
  font-size: 5px;
}
.itemsLabelMask{
  padding: 0;
  min-height: 27.25vh;
  background-color: transparent;
}
.itemsLabelMask:hover{
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/*Style du Contact*/
#Contact{
  display: block;
  position: relative;
}
.mapMask{
  background-color: var(--darkblue);
}
#Map{
  order: 0;
}
#Map iframe{
  opacity: 0.7;
}
.mapMask, #Map iframe{
  min-height: 550px;
  width: 100%;
  margin-bottom: -1%;
}
#ContactInfos{
  margin-bottom: 3%;
}
#ContactInfos #LineBreaker{
  display: none;
}
#Contact fieldset{
  position: absolute;
  top: 6%;
  right: 9%;
  max-width: 22.5%;
  background-color: rgba(240,240,255,.75);
  padding: 2% 1%;
  height: 88%;
}
#Contact fieldset form{
  background-color: transparent;
}
.formElements, .formElements *{
  width: 100%;
}
.formElements *{
  border: 0.5px solid var(--grey);
  border-radius: 2.75%;
}
#ContactInfos h1{
  font-size: 1.5em;
  text-align: left;
  background-color: transparent;
  margin-bottom: 3%;
  text-transform: capitalize;
  font-family: 'Roboto-Black';
  font-weight: bold;
}
#ContactInfos p, #ContactInfos h2{
  font-family: 'Roboto-Medium';
  font-size: 0.9em;
  text-align: left;
  color: var(--grey);
  margin: 0;
  padding: 1%;
}
#ContactMessage{
  resize: none;
  font-style: normal;
  height: 150px;
}
form p input, form p textarea{
  font-family: 'Roboto';
}
form p textarea{
  padding-top: 0.5em;
}
form .button input{
  width: 100px;
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  padding: 3px 6px;
  color: var(--white);
  background-color: var(--blue);
  white-space: nowrap;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px var(--darkblue);
  font-variant: normal;
  float: left;
  border-bottom: 3px solid var(--darkblue);
  border-radius: 3px;
}
form .button input:hover{
  cursor: pointer;
  background-color: var(--darkblue);
  border-bottom: 3px solid var(--blue);
  text-shadow: 1px 1px 1px var(--blue);
  -webkit-transition-property: background-color, border-bottom, text-shadow;
  transition-property: background-color, border-bottom, text-shadow;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
::placeholder{
  padding-left: 0.5em;
  font-size: 1em;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 0.5em;
  font-size: 1em;
}
::-moz-placeholder { /* Firefox 19+ */
 padding-left: 0.5em;
 font-size: 1em;
}
::-ms-input-placeholder { /* IE 10+ */
  padding-left: 0.5em;
  font-size: 1em;
}
::-moz-placeholder { /* Firefox 18- */
  padding-left: 0.5em;
  font-size: 1em;
}

/*----------------------------------------------------------
FERMETURE DU MEDIA QUERIES
-----------------------------------------------------------*/
}
